<!doctype html>
<html ng-app="TrabalhoRedes">
	<head>
		<meta charset="utf-8" >
		<title> HTML Starter </title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script type="text/javascript" src="js/controllers.js"> </script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<header>
			<h1> Trabalho de redes </h1>
		</header>
		<section ng-controller="formCtrl">
			<form ng-show="!teste">
				
				<div class="element-form">
					<h3>Quantidade de usuários na rede:</h3>
					<input ng-model="qtdeUsuarios" type="text"/>
				</div>
				
				<div class="element-form">
					<h3>Existe algum servidor para colocar aplicações?</h3>
					<input ng-model="existsServer" value="yes" type="radio"/> Sim 
					<input ng-model="existsServer" value="no" type="radio"/> Nao
					<div ng-show="isShownApp('yes')" class="element-form">
						<h3>Especifique as aplicações existentes: </h3>
						Adicionadas:

						
							
							<div ng-repeat="app in apps">
								
									{{ app.name }} {{ app.accessNetwork }} {{ app.accessRemote }} <a href="#" ng-click="removeApp(app)" > remover</a>

							</div>
						</table>
						<div class="element-form">
							<table>
								<tr>
									<td>nome da aplicação:</td>
									<td><input type="text" ng-model="nameApp"/></td>
								</tr>
								<tr>
									<td>é acessada localmente?</td>
									<td><input type="checkbox" ng-model="networkApp"/></td>
								</tr>
								<tr>
									<td>é acessada remotamente?</td>
									<td><input type="checkbox" ng-model="remoteApp"/></td>
								</tr>
								
							</table>
							<button ng-click="addApp()"> adicionar </button>
						</div>
						<br />
						<br />
						
					</div>
    			</div>

    			<div class="element-form">
					<h3>A sua rede fornecerá limitação de conexão a algum grupo de usuários??</h3>
					<input ng-model="enableConnection" value="yes" type="radio"/> Sim 
					<input ng-model="enableConnection" value="no" type="radio"/> Nao
					<div ng-show="isShownConnectivity('yes')" class="element-form">
						<h3>Defina esses grupos: </h3>
							Adicionados:
						<div ng-repeat="vlan in vlans" >
							{{vlan.name}} {{vlan.numberOfUsers}} {{vlan.internetConnection}} {{vlan.appConnection}}
							<a href="#" ng-click="removeVlan(vlan)"> remover </a>
						</div>
						<table>
							<tr>
								<td>nome do grupo:</td>
								<td><input type="text" ng-model="nameVlan"/></td>
								<td></td>
							</tr>
							<tr>
								<td>quantidade de participantes:</td>
								<td><input type="text" ng-model="numberOfUsersVlan"/></td>
								<td></td>
							</tr>
							<tr>
								<td>acessa a internet?</td>
								<td><input type="checkbox" ng-model="internetConnectionVlan"/></td>
								<td></td>
							</tr>
							<tr>
								<td>acessa quais dessas aplicações?*</td>
								<td>
									<select ng-model="appConnectionVlanSelected">
									    <option ng-repeat="app in apps" value="{{ app }}"  >{{ app.name }}</option>
									</select>
								</td>
								<td><button ng-click="appConnectionVlanAdd()"> add </button></td>
							</tr>
						</table>

						<div ng-repeat="app in appConnectionVlan">
							{{ app.name }}
						</div>
						
						<button ng-click="addVlan()"> adicionar grupo </button>
						
						<br />
						<br />
						*para que apareçam as aplicações, adicione-as em cima!
					</div>
    			</div>

    			<button ng-click="submit()"> Enviar </button>



			</form>
			<div ng-show="teste">
			<h2> Sobre a rede: </h2>
			<h3>Numero de dominios de Broadcast : {{ vlans.length }}</h3>

				<div ng-repeat="vlan in vlans" >

					Vlan : {{ vlan.name }}<br />
					Num de dominios de colisão da vlan : {{ vlan.numberOfUsers + 2 }} <br />
					Acesso a internet : {{ vlan.internetConnection }} <br />
					Conecta-se aos apps : <br />
					<div ng-repeat="app in vlan.appConnection">
						{{ app.name }}
					</div>
				</div>
			</div>
		</section>
		
	</body>
</html>
